__pycache__/
*.pyc
*.pyo
*.log
.env

OUTPUT/
OUTPUT_DEBUG/
OUTPUT_ZZY
OUTPUT_inf/
vis/
vis_coords/
vis_mpi/
tools_vis/
tools_final/*/
!tools_final/*.py
!tools_final/*.sh
!tools_final/*.yaml
ckpt/
zk/*
OUTPUT_DEBUG/*
OUTPUT_ZZY/*
VIS/*

/save_video/

*.egg-info
data/
